html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Wendy One', sans-serif;
    color: #8c1818;
}

h2 {
    color: #158c03;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #010440;
}

.site-container {
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    background-color: #e4e4e4;
    padding-bottom: 2em;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

header {
    background-color: #010440;
}

#logo {
    max-width: 250px;
    display: block;
    margin: auto;
}

nav {
    background-color: #ee582b;
    padding: 0.25em;
    text-align: center;
}

nav a {
    font-family: 'Wendy One', sans-serif;
    font-size: 24pt;
    color: white;
    text-decoration: none;
}

nav a:hover {
    opacity: 0.5;
}

nav li {
    display: inline-block;
    padding: 0 calc(100% / 16);
}

#story {
    background-color: #ffffff;
    background-image: url(img/background.jpg);
    margin: 0.5em 2em 0 2em;
    padding: 1em;
}

#story a {
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
    color: #f2561d;
}

#story a:hover {
    text-decoration: underline;
}

#story-image {
    width: 100%
}

footer {
    text-align: center;
    padding: 0.25em;
    background-color: #010440;
}

#footer-text {
    display: block;
    color: #158c03;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

footer a {
    text-decoration: none;
    color: #158c03;
}

footer a:hover {
    opacity: 0.7;
}

@media all and (min-width: 750px) {
    #story {
        width: 40%;
        float: left;
        margin: 0 0 0.5em 2em;
    }
}

.images {
    width: calc(100% - 4em);
    margin: 0.5em 2em 0 2em;
}

@media all and (min-width: 750px) {
    .images {
        width: 51%;
        float: right;
        margin: 0 2em 0.5em 0;
    }
}

.button {
    width: calc(100% - 4em);
    margin: 0.5em 2em 0 2em;
}

.button:hover {
    opacity: 0.7;
}

@media all and (min-width: 750px) {
    .button {
        width: 40%;
        margin: 0 0 0.5em 2em;
    }
}
